<header class="header">
  <a href=".">
    <svg class="header-logo">
      <use class="header-logo-vector" href="/img/sprite.svg#header-logo"></use>
    </svg>
  </a>
  <button type="button" class="header-burger-btn">
    <svg class="header-burger">
      <use
        class="header-burger-vector"
        href="/img/sprite.svg#header-burger"
      ></use>
    </svg>
  </button>
  <div class="header-block">
    <ul class="header-navigation">
      <li class="header-navigation-item">
        <a href="#how" class="header-navigation-a">How It Works</a>
      </li>
      <li class="header-navigation-item">
        <a href="#vegetables" class="header-navigation-a">Vegetables</a>
      </li>
      <li class="header-navigation-item">
        <a href="#reviews" class="header-navigation-a">Reviews</a>
      </li>
    </ul>
  </div>
  <button class="header-btn" data-modal-open>Shop now</button>
</header>
