<header class="header">
  <a href=".">
    <svg class="header-logo">
      <use class="header-logo-vector" href=""></use>
    </svg>
  </a>
  <button type="button" class="header-burger-btn">
    <svg class="header-burger">
      <use class="header-burger-vector" href=""></use>
    </svg>
  </button>
  <ul class="header-navigation">
    <li class="header-navigation-item">
      <a href="" class="header-navigation-a">How It Works</a>
    </li>
    <li class="header-navigation-item">
      <a href="" class="header-navigation-a">Vegetables</a>
    </li>
    <li class="header-navigation-item">
      <a href="" class="header-navigation-a">Reviews</a>
    </li>
  </ul>
  <button class="header-btn">Shop now</button>
</header>
