<section class="order" id="order">
    <div class="container">
        <h2 class="order-title">
            Fresh <span class="order-title-accent">Harvest</span> Box has got
            you covered
        </h2>
        <p class="order-text">
            Our boxes are packed with delicious, nutritious vegetables, perfect
            for anyone looking to eat healthier or support local farmers. Order
            your box today and start enjoying the best that nature has to offer!
        </p>
        <div class="order-form-container">
            <h3 class="order-form-title">
                Ordering <span class="form-title-accent">from us</span> is quick
                and easy! Fill out
                <span class="form-title-accent">the form</span> below and we will
                contact you !
            </h3>
            <form class="order-form" name="order-form" autocomplete="off">
                <input class="order-form-input" id="order-name" name="order-name" type="text" placeholder="Full Name"
                    minlength="3" required />
                <input class="order-form-input" id="order-email" name="order-email" type="email" placeholder="Email"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
                <textarea class="order-form-textarea" id="order-comment" name="order-comment" placeholder="Comment"
                    rows="3"></textarea>
                <button class="order-form-btn" type="submit">Send</button>
            </form>
        </div>
        <div class="order-social-container">
            <img class="order-img-mobile" srcset="/img/order-mobile.webp 1x, /img/order-mobile2x.webp 2x"
                src="/img/order-mobile.webp"
                alt="A woman in a purple sports bra is preparing a smoothie in a modern kitchen. She is squeezing a lemon into a blender bottle filled with sliced bananas. Various fresh fruits, including apples, strawberries, and oranges, are on the countertop."
                width="295" height="272" />
            <img class="order-img-tablet" srcset="/img/order-tablet.webp 1x, /img/order-tablet2x.webp 2x"
                src="/img/order-tablet.webp"
                alt="A woman in a purple sports bra is preparing a smoothie in a modern kitchen. She is squeezing a lemon into a blender bottle filled with sliced bananas. Various fresh fruits, including apples, strawberries, and oranges, are on the countertop."
                width="536" height="316" />
            <img class="order-img-desktop" srcset="/img/order-desktop.webp 1x, /img/order-desktop2x.webp 2x"
                src="/img/order-desktop.webp"
                alt="A woman in a purple sports bra is preparing a smoothie in a modern kitchen. She is squeezing a lemon into a blender bottle filled with sliced bananas. Various fresh fruits, including apples, strawberries, and oranges, are on the countertop."
                width="428" height="352" />
            <p class="order-social-text">Follow us on our social networks:</p>
            <ul class="order-social-list">
                <li class="order-social-item">
                    <a target="_blank" href="https://www.instagram.com/goitclub/"
                        class="order-social-link">instagram</a>
                </li>
                <li class="order-social-item">
                    <a target="_blank" href="https://www.facebook.com/goITclub/" class="order-social-link">facebook</a>
                </li>
                <li class="order-social-item">
                    <a target="_blank" href="https://www.youtube.com/c/GoIT" class="order-social-link">youtube</a>
                </li>
            </ul>
        </div>
    </div>
</section>