.header {
  background: transparent;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin: 0 auto;
}

.header-logo-link {
  margin-block: 8px;
}

.header-block {
  display: none;
}

.header-logo {
  width: 168px;
  height: 16px;
  fill: #fff;
}

.header-burger {
  width: 32px;
  height: 32px;
}

.header-burger-btn {
  background: transparent;
  border: none;
  padding: 0;
  height: 32px;
  fill: #fff;
}

.header-navigation {
  display: none;
}

.header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    top: 42px;
    max-width: 768px;
    padding: 0 32px;
  }

  .header-logo-link {
    margin-block: 10px;
  }

  .header-logo {
    width: 216px;
    height: 20px;
  }

  .header-burger {
    width: 40px;
    height: 40px;
  }

  .header-burger-btn {
    margin-left: 448px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    justify-content: center;
  }

  .header-logo-link {
    margin-block: 16px;
  }

  .header-burger {
    display: none;
  }

  .header-burger-btn {
    display: none;
  }

  .header-navigation {
    display: block;
  }

  .header-navigation {
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }

  .header-navigation-item {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 12px;
    width: 118px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-navigation-a {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    color: #fff;
    border: none;
    width: 157px;
    height: 52px;
  }

  .header-block {
    margin-left: 366px;
    display: block;
  }
}
