.organic {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  background-color: #7a3145;
}
.section-organic-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.title-part {
  color: #d4bfc4;
}
.organic-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #fbfbfb;
}
