.organic {
  background-color: #7a3145;
  margin: 0 auto;
  width: 375px;
}
.section-organic-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.title-part {
  color: #d4bfc4;
}
.organic-title {
  max-width: 335px;
  margin-bottom: 40px;
}
.organic-main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #fbfbfb;
}
.organic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.organic-item {
  border-radius: 40px;
  background-color: #fbfbfb;
  padding: 32px 24px;
  max-width: 335px;
}
.organic-list-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  min-width: 280px;
  height: 312px;
}
.organic-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 143px;
  gap: 12px;
}
.organic-list-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
}
.organic-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}
@media screen and (min-width: 768px) {
  .organic {
    width: 768px;
  }
  .section-organic-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
  .organic-title {
    max-width: 626px;
    margin-bottom: 52px;
  }
  .organic-list-title {
    font-size: 32px;
  }
  .organic-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .organic-list {
    gap: 28px 24px;
    max-width: 704px;
  }
  .organic-list-wrap {
    width: calc((100% - 24px) / 2);
  }
  .organic-item {
    padding: 32px 30px;
    max-width: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .organic {
    width: 1280px;
  }
  .organic-list-wrap {
    width: calc((100% - 48px) / 3);
  }
  .organic-item {
    padding: 32px 32px;
    max-width: 280px;
  }
  .organic-list {
    max-width: 1080px;
  }
}
